* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "montserrat", "sans-serif";
  background-color: #223343;
}

header {
  padding: 40px 15px;
  color: red;
  cursor: pointer;
}

header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.searchbar {
  display: block;
  width: calc(100% - 30px);
  margin: 0 auto;
  padding: 15px;
  border: none;
  outline: none;
  background: none;
  background-color: #eee;
  border-radius: 8px;
  color: #53565a;
  font-size: 20px;
  font-weight: 300;
  transition: 0.4s ease-out;
}
.searchbox-wrap {
  margin-bottom: 20px;
}

.searchbar:focus {
  box-shadow: 0px 0px 8px 3px #4484c4;
}

.results {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.results .result {
  border: 1px solid wheat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.results .result h3 {
  display: block;
  background-color: #445565;
  padding: 5px;
  flex: 1 1 100%;
  text-align: center;
  color: white;
  font-size: 18px;
  transition: 0.4s ease-out;
}
.results .result:hover h3 {
  background: #fff;
  color: #223343;
}
.results .result img {
  display: block;
  width: 100%;
}

.modal-outer-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(65, 66, 68, 0.65);
  justify-content: center;
  align-items: center;
}

.modal-inner-wrapper {
  display: flex;
  position: relative;
  width: 50%;
  background: #222222;
  height: auto;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 10px 4px rgba(120, 119, 133, 1);
  -moz-box-shadow: 0px 0px 10px 4px rgba(120, 119, 133, 1);
  box-shadow: 0px 0px 10px 4px rgba(120, 119, 133, 1);
}

.modal-poster {
  margin: 20px 10px 20px 20px;
  height: auto;
  width: 100%;
}

.modal-content {
  background-color: #fff;
  padding: 30px;
  margin: 20px 20px 20px 10px;
}

.modal-poster img {
  width: 100%;
  border: 2px solid white;
}

.modal-info {
  padding: 10px;
}

.modal-rating {
  margin-top: 10px;
}

.fa,
.fa-times {
  color: white;
  position: absolute;
  font-size: 24px;
  top: 10px;
  right: 14px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .results {
    grid-template-columns: 1fr 1fr;
  }
  .searchbar {
    width: calc(70% - 30px);
    margin: 0 auto;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 42px;
  }
  .results {
    grid-template-columns: 70%;
    justify-content: center;
  }
}

@media (max-width: 1280px) {
  .modal-inner-wrapper {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .modal-content {
    font-size: 14px;
    background-color: #fff;
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .modal-inner-wrapper {
    flex-direction: column;
    max-height: 90%;
  }

  .fa,
  .fa-times {
    color: #222;
  }

  .modal-poster {
    display: none;
  }

  .modal-content {
    max-height: 100%;
    justify-content: center;
    text-align: center;
    margin: 10px;
    font-size: 12px;
  }
  .modal-content .modal-info {
    text-align: justify;
  }

  .modal-poster img {
    width: 60%;
    border: 2px solid white;
  }
}
